@tailwind base;
@tailwind components;
@tailwind utilities;

[type="text"], [type="email"], [type="url"], [type="password"],
[type="number"], [type="date"], [type="datetime-local"],
[type="month"], [type="search"], [type="tel"], [type="time"],
[type="week"], [multiple], textarea, select {
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
}

[type="text"]:focus, [type="email"]:focus, [type="url"]:focus, [type="password"]:focus,
[type="number"]:focus, [type="date"]:focus, [type="datetime-local"]:focus,
[type="month"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus,
[type="week"]:focus, [multiple]:focus, textarea:focus, select:focus {
  box-shadow: none;
  outline: 0px;
}
